// TODO: 5. Fixing one thing may break other things, but sometimes it has to be done - Done
main {
  // try to keep these
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  min-height: 100vh;
  margin: 0px;
  // don't  really care about the below. Yes, side spaces are due to the below padding.
  // padding-left: 20px;
  // padding-right: 20px;
}